---
import Card from '@/components/Global/Card.astro'
import Hero from '@/components/Global/Hero.astro'
import Base from '@/layout/Base.astro'

interface Props {
  title: string
  description: string
}

const { title = 'Sobre Mí | @lombardidev', description= 'Información sobre quien soy' } = Astro.props
---
<Base title={title} description={description}>
  <section class="flex flex-col gap-14">
    <article class="flex flex-col gap-8 w-full max-w-[83rem] mx-auto">
      <Hero greeting='Sobre Mí' profession='Agradezco que hayas llegado hasta aqui, te invito a saber más sobre mi persona.' align="start">
        <img src="/images/body/about.webp" width="776.5" height="436.5" alt="Foto de Matias Lombardi en su area de trabajo" class="mt-6 rounded-3xl shadow-md m-auto">
      </Hero>
    </article>

    <section class="max-sm:hidden flex flex-col gap-2 text-c-200">
      <h2 class="col-start-1 text-2xlarge text-c-0 pb-4">Historia</h2>
      <div class="col-start-2 col-end-4 pb-4 text-large">
        <p class="mt-0 text-balance">
            Oriundo de la provincia de Buenos Aires, de niño migré a la ciudad de Córdoba, donde descubrí <span class="bg-accent-regular text-accent-text-over p-[2px]">mi pasión</span> por la tecnología. Inicialmente, decidí enfocarme en la parte física, adquiriendo conocimientos técnicos sobre hardware.
        </p>
        <p class="mt-3 text-balance">
            Con el tiempo, mientras trabajaba en la industria manufacturera, <span class="bg-accent-regular text-accent-text-over p-[2px]">tuve la experiencia de desarrollar mi primer sistema en Visual Basic for Applications</span>, lo que en ese momento fue un logro significativo para mí. Este hecho encendió mi pasión por la programación. Decidí cambiar el rumbo de mi vida y me encaminé hacia la carrera de Ingeniería de Sistemas, dejando atrás mi trabajo anterior.
        </p>
        <p class="mt-3 text-balance">
            Tuve la oportunidad de aplicar tempranamente mis conocimientos en el entorno laboral de sistemas, participando en proyectos relacionados con SAP.
        </p>
        <p class="mt-3 text-balance">
            Con el paso de los años, me di cuenta de que <span class="bg-accent-regular text-accent-text-over p-[2px]">la gestión de proyectos era una de mis mejores habilidades</span>, pero a medida que realizaba más tareas, algo no me satisfacía: no podía plasmar las funcionalidades o procesos que diseñaba. 
        </p>
        <p class="mt-3 text-balance">
            Mi pasión por la programación me impulsó a seguir aprendiendo y creciendo. Decidí poner manos a la obra y comencé a especializarme como desarrollador. <span class="bg-accent-regular text-accent-text-over p-[2px]">Hoy en día, disfruto de la experiencia analítica en proyectos altamente complejos y de la capacidad para crear soluciones de alto rendimiento.</span>
        </p>
      </div>
    </section>

    <section class="max-sm:hidden flex flex-col gap-2 text-c-200">
      <h2 class="col-start-1 text-2xlarge text-c-0 pb-4">Educación</h2>
      <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
      <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
      <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>

      <section class="relative border-l-4 border-solid border-accent-dark pt-4 m-1">
        <article class="relative pl-5 before:content[''] before:absolute before:-left-3 before:w-5 before:h-5 before:bg-accent-dark before:rounded-full">
          <div class="col-start-2 col-end-4 pb-4">
            <h3 class="text-accent-text-over text-xlarge">Ingeniería en Sistemas de la Información</h3>
            <p class="mt-3 text-large text-balance">Universidad Tecnológica Nacional - FRC</p>
            <span class="bg-accent-regular text-accent-text-over p-[2px] text-base font-medium">2018 - Actualidad</span>
          </div>
        </article>

        <article class="relative pl-5 before:content[''] before:absolute before:-left-3 before:w-5 before:h-5 before:bg-accent-dark before:rounded-full mt-3">
          <div class="col-start-2 col-end-4 pb-4">
            <h3 class="text-accent-text-over text-xlarge">Ingeniería Industrial</h3>
            <p class="mt-3 text-large text-balance">Universidad Tecnológica Nacional - FRC</p>
            <span class="bg-accent-regular text-accent-text-over p-[2px] text-base font-medium">2015 - 2018</span>
          </div>
        </article>

        <article class="relative pl-5 before:content[''] before:absolute before:-left-3 before:w-5 before:h-5 before:bg-accent-dark before:rounded-full mt-3">
          <div class="col-start-2 col-end-4 pb-4">
            <h3 class="text-accent-text-over text-xlarge">Técnico Superior en Electrónica</h3>
            <p class="mt-3 text-large text-balance">IPET N°48 Presidente Roca</p>
            <span class="bg-accent-regular text-accent-text-over p-[2px] text-base font-medium">2007 - 2010</span>
          </div>
          </article>
        </section>

        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
    </section>

    <section class="max-sm:hidden flex flex-col gap-2 text-c-200">
      <h2 class="col-start-1 text-2xlarge text-c-0 pb-4">Educación</h2>
      <div class="card rounded-xl bg-gradient-to-r from-accent-light via-accent-regular to-accent-dark p-0.5 shadow-bs-sm">
        <div class="bg-c-900 w-full h-full rounded-xl p-2">
          <article class="flex flex-col gap-3">
            <h3 class="text-accent-text-over text-xlarge mt-3">Product Owner</h3>
            <p class="text-c-400 text-large">Kinetic-Corp partner of <a href="https://scrummanager.com/website/">Scrum Manager</a></p>
            <a href="https://scrummanager.com/website/c/profile/member.php?id=48869" target="_blank">Certificado</a>
          </article>

          <article class="flex flex-col gap-3">
            <h3 class="text-accent-text-over text-xlarge mt-3">Desarrollador Web FullStack</h3>
            <p class="text-c-400 text-large">Universidad Tecnológica Nacional - FRC</p>
            <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=53423&code=fWzEWlmfEL&qrcode=1" target="_blank">Certificado</a>
          </article>

          <article class="flex flex-col gap-3 mt-4">
            <h3 class="text-accent-text-over text-xlarge mt-3">Desarrollador FullStack Java</h3>
            <p class="text-c-400 text-large">Universidad Tecnológica Nacional - FRC</p>
            <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=62683&code=S0VAKyBWAP&qrcode=1" target="_blank">Certificado</a>
            <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=62683&code=S0VAKyBWAP&qrcode=1" target="_blank">Srping Boot</a>
          </article>

          <article class="flex flex-col gap-3 mt-4">
            <h3 class="text-accent-text-over text-xlarge mt-3">JavaScript Algorithms and Data Structures</h3>
            <p class="text-c-400 text-large">Otorgado por <a href="https://www.freecodecamp.org/" target="_blank">FreecodeCamp</a> para estudiantes autodidactas.</p>
            <a href="https://www.freecodecamp.org/certification/Lombardi_m/javascript-algorithms-and-data-structures" target="_blank">Certificado</a>
          </article>

          <article class="flex flex-col gap-3 mt-4">
            <h3 class="text-accent-text-over text-xlarge mt-3">Responsive Web Desing</h3>
            <p class="text-c-400 text-large">Otorgado por <a href="https://www.freecodecamp.org/" target="_blank">FreecodeCamp</a> para estudiantes autodidactas.</p>
            <a href="https://www.freecodecamp.org/certification/Lombardi_m/responsive-web-design" target="_blank">Certificado</a>
          </article>

          <article class="flex flex-col gap-3 mt-4">
            <h3 class="text-accent-text-over text-xlarge mt-3">Introducción a los Algoritmos y la Programación</h3>
            <p class="text-c-400 text-large">Dictado en <a href="https://www.todocodeacademy.com/" target="_blank">TodoCodeAcademy</a> de forma online para estudiantes autodidactas.</p>
            <a href="https://todocodeacademy.com/certificate/dra/" target="_blank">Certificado</a>
          </article>

          <article class="flex flex-col gap-3 mt-4">
            <h3 class="text-accent-text-over text-xlarge mt-3">HTML y CSS desde CERO</h3>
            <p class="text-c-400 text-large">Dictado en <a href="https://www.todocodeacademy.com/" target="_blank">TodoCodeAcademy</a> de forma online para estudiantes autodidactas.</p>
            <a href="https://todocodeacademy.com/certificate/certificado-html-y-css-vwk/" target="_blank">Certificado</a>
          </article>
        </div>
      </div>
    </section>

    <section class="sm:hidden flex flex-col gap-2 text-c-200">
      <Card title='Historia' description='Breve resumen'>
        <p class="mt-0 text-balance">
          Oriundo de la provincia de Buenos Aires, de niño migré a la ciudad de Córdoba, donde descubrí <span class="bg-accent-regular text-accent-text-over p-[2px]">mi pasión</span> por la tecnología. Inicialmente, decidí enfocarme en la parte física, adquiriendo conocimientos técnicos sobre hardware.
        </p>
        <p class="mt-3 text-balance">
            Con el tiempo, mientras trabajaba en la industria manufacturera, <span class="bg-accent-regular text-accent-text-over p-[2px]">tuve la experiencia de desarrollar mi primer sistema en Visual Basic for Applications</span>, lo que en ese momento fue un logro significativo para mí. Este hecho encendió mi pasión por la programación. Decidí cambiar el rumbo de mi vida y me encaminé hacia la carrera de Ingeniería de Sistemas, dejando atrás mi trabajo anterior.
        </p>
        <p class="mt-3 text-balance">
            Tuve la oportunidad de aplicar tempranamente mis conocimientos en el entorno laboral de sistemas, participando en proyectos relacionados con SAP.
        </p>
        <p class="mt-3 text-balance">
            Con el paso de los años, me di cuenta de que <span class="bg-accent-regular text-accent-text-over p-[2px]">la gestión de proyectos era una de mis mejores habilidades</span>, pero a medida que realizaba más tareas, algo no me satisfacía: no podía plasmar las funcionalidades o procesos que diseñaba. 
        </p>
        <p class="mt-3 text-balance">
            Mi pasión por la programación me impulsó a seguir aprendiendo y creciendo. Decidí poner manos a la obra y comencé a especializarme como desarrollador. <span class="bg-accent-regular text-accent-text-over p-[2px]">Hoy en día, disfruto de la experiencia analítica en proyectos altamente complejos y de la capacidad para crear soluciones de alto rendimiento.</span>
        </p>
      </Card>

      <Card title='Educación' description='Instituciones Educativas'>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>

        <section class="relative border-l-4 border-solid border-accent-dark pt-4 m-1">
          <article class="relative pl-5 before:content[''] before:absolute before:-left-3 before:w-5 before:h-5 before:bg-accent-dark before:rounded-full">
            <div class="col-start-2 col-end-4 pb-4">
              <h3 class="text-accent-text-over text-xlarge">Ingeniería en Sistemas de la Información</h3>
              <p class="mt-3 text-large text-balance">Universidad Tecnológica Nacional - FRC</p>
              <span class="bg-accent-regular text-accent-text-over p-[2px] text-base font-medium">2018 - Actualidad</span>
            </div>
          </article>

          <article class="relative pl-5 before:content[''] before:absolute before:-left-3 before:w-5 before:h-5 before:bg-accent-dark before:rounded-full mt-3">
            <div class="col-start-2 col-end-4 pb-4">
              <h3 class="text-accent-text-over text-xlarge">Ingeniería Industrial</h3>
              <p class="mt-3 text-large text-balance">Universidad Tecnológica Nacional - FRC</p>
              <span class="bg-accent-regular text-accent-text-over p-[2px] text-base font-medium">2015 - 2018</span>
            </div>
          </article>

          <article class="relative pl-5 before:content[''] before:absolute before:-left-3 before:w-5 before:h-5 before:bg-accent-dark before:rounded-full mt-3">
            <div class="col-start-2 col-end-4 pb-4">
              <h3 class="text-accent-text-over text-xlarge">Técnico Superior en Electrónica</h3>
              <p class="mt-3 text-large text-balance">IPET N°48 Presidente Roca</p>
              <span class="bg-accent-regular text-accent-text-over p-[2px] text-base font-medium">2007 - 2010</span>
            </div>
          </article>
        </section>

        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
        <div class="h-1 w-1 m-1 bg-accent-dark rounded-full"></div>
      </Card>

      <Card title='Certificaciones' description='Cursos complementarios'>
        <article class="flex flex-col gap-3">
          <h3 class="text-accent-text-over text-xlarge mt-3">Product Owner</h3>
          <p class="text-c-400 text-large">Kinetic-Corp partner of <a href="https://scrummanager.com/website/">Scrum Manager</a></p>
          <a href="https://scrummanager.com/website/c/profile/member.php?id=48869" target="_blank">Certificado</a>
        </article>

        <div class="h-[1px] w-5/6 mx-auto mt-5 bg-c-500 shadow-bs-sm"></div>

        <article class="flex flex-col gap-3">
          <h3 class="text-accent-text-over text-xlarge mt-3">Desarrollador Web FullStack</h3>
          <p class="text-c-400 text-large">Universidad Tecnológica Nacional - FRC</p>
          <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=53423&code=fWzEWlmfEL&qrcode=1" target="_blank">Certificado</a>
        </article>

        <div class="h-[1px] w-5/6 mx-auto mt-5 bg-c-500 shadow-bs-sm"></div>

        <article class="flex flex-col gap-3 mt-4">
          <h3 class="text-accent-text-over text-xlarge mt-3">Desarrollador FullStack Java</h3>
          <p class="text-c-400 text-large">Universidad Tecnológica Nacional - FRC</p>
          <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=62683&code=S0VAKyBWAP&qrcode=1" target="_blank">Certificado</a>
          <a href="https://uve.frc.utn.edu.ar/mod/customcert/verify_certificate.php?contextid=62683&code=S0VAKyBWAP&qrcode=1" target="_blank">Srping Boot</a>
        </article>

        <div class="h-[1px] w-5/6 mx-auto mt-5 bg-c-500 shadow-bs-sm"></div>

        <article class="flex flex-col gap-3 mt-4">
          <h3 class="text-accent-text-over text-xlarge mt-3">JavaScript Algorithms and Data Structures</h3>
          <p class="text-c-400 text-large">Otorgado por <a href="https://www.freecodecamp.org/" target="_blank">FreecodeCamp</a> para estudiantes autodidactas.</p>
          <a href="https://www.freecodecamp.org/certification/Lombardi_m/javascript-algorithms-and-data-structures" target="_blank">Certificado</a>
        </article>

        <div class="h-[1px] w-5/6 mx-auto mt-5 bg-c-500 shadow-bs-sm"></div>

        <article class="flex flex-col gap-3 mt-4">
          <h3 class="text-accent-text-over text-xlarge mt-3">Responsive Web Desing</h3>
          <p class="text-c-400 text-large">Otorgado por <a href="https://www.freecodecamp.org/" target="_blank">FreecodeCamp</a> para estudiantes autodidactas.</p>
          <a href="https://www.freecodecamp.org/certification/Lombardi_m/responsive-web-design" target="_blank">Certificado</a>
        </article>

        <div class="h-[1px] w-5/6 mx-auto mt-5 bg-c-500 shadow-bs-sm"></div>

        <article class="flex flex-col gap-3 mt-4">
          <h3 class="text-accent-text-over text-xlarge mt-3">Introducción a los Algoritmos y la Programación</h3>
          <p class="text-c-400 text-large">Dictado en <a href="https://www.todocodeacademy.com/" target="_blank">TodoCodeAcademy</a> de forma online para estudiantes autodidactas.</p>
          <a href="https://todocodeacademy.com/certificate/dra/" target="_blank">Certificado</a>
        </article>

        <div class="h-[1px] w-5/6 mx-auto mt-5 bg-c-500 shadow-bs-sm"></div>

        <article class="flex flex-col gap-3 mt-4">
          <h3 class="text-accent-text-over text-xlarge mt-3">HTML y CSS desde CERO</h3>
          <p class="text-c-400 text-large">Dictado en <a href="https://www.todocodeacademy.com/" target="_blank">TodoCodeAcademy</a> de forma online para estudiantes autodidactas.</p>
          <a href="https://todocodeacademy.com/certificate/certificado-html-y-css-vwk/" target="_blank">Certificado</a>
        </article>
      </Card>
    </section>
  </section>
</Base>