---
import Contact from "@/components/Global/Contact.astro"
import Grid from "@/components/Global/Grid.astro"
import Hero from "@/components/Global/Hero.astro"
import PorfolioPreview from "@/components/Global/PorfolioPreview.astro"
import Base from "@/layout/Base.astro"
import { getCollection, type CollectionEntry } from "astro:content"

interface Props {
  title: string
  description: string
}

const { title = 'Proyectos | @lombardidev', description = 'Listado completo de proyectos realizados.' } = Astro.props

const works: CollectionEntry<"projects">[] = (await getCollection("projects"))
  .sort((a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()
  )
---

<Base title={title} description={description}>
  <section class="flex flex-col gap-20">
    <div class="w-full max-w-[83rem] mx-auto flex flex-col gap-8">
      <Hero align="start" greeting="Proyectos" profession="Listado completo de proyectos realizados.">
        <Grid variant="offset">
          {
            works.map((project) => (
              <li>
                <PorfolioPreview project={project} />
              </li>
            ))
          }
        </Grid>
      </Hero>
    </div>
    <Contact />
  </section>
</Base>
