---
import Icon from "@/components/Global/Icon.astro";
---

<theme-toggle>
  <button id="scheme" aria-pressed='false' class="flex border-0 rounded-full p-0 bg-c-999 shadow-bs-inset cursor-pointer">
    <span class="sr-only">Tema Oscuro</span>
    <span 
      class="icon light z-10 relative flex p-2 w-8 h-8 text-base text-accent-overlay before:content[''] before:-z-10 before:absolute before:inset-0 before:bg-accent-regular before:rounded-full "
    >
      <Icon icon="sun" />
    </span>
    <span 
      class="icon dark z-10 relative flex p-2 w-8 h-8 text-base text-accent-overlay">
      <Icon icon="moon-stars" />
    </span>
  </button>
</theme-toggle>

<script src="../../scripts/themeToggle.ts"></script>

<style>
	:global(.theme-dark) .icon.light::before {
		transform: translateX(100%);
	}

	:global(.theme-dark) .icon.dark,
	:global(html:not(.theme-dark)) .icon.light,
	button[aria-pressed='false'] .icon.light {
		color: var(--accent-text-over);
	}

	@media (prefers-reduced-motion: no-preference) {
		.icon,
		.icon.light::before {
			transition:
				transform var(--theme-transition),
				color var(--theme-transition);
		}
	}

	@media (forced-colors: active) {
		.icon.light::before {
			background-color: SelectedItem;
		}
	}
</style>