<div class="flex flex-col w-3/4 mx-auto gap-4">
  <div class="flex justify-between gap-2">
    <a href='https://scrummanager.com/website/c/profile/member.php?id=48869'><img alt='Scrum Manager Técnico' src='https://scrummanager.com/website/img/tecnico-es.png' width="440" height="128" class="shadow-bs-sm rounded-lg" loading="lazy"></a>
    <div class="bg-gradient-to-r from-accent-overlay to-d-accent-text-over rounded-full p-2 shadow-bs-sm">
      <a href='https://scrummanager.com/website/c/profile/member.php?id=48869'><img alt='Product owner' src='https://scrummanager.com/intranet/files/credential/8/smalllogo.png' width="115" height="106" class="rounded-full" loading="lazy"></a>
    </div>
  </div>
</div>