<section>
  <p class="flex justify-center gap-4 flex-wrap md:justify-end">
		<a
			target="_blank" 
			rel="noopener noreferrer" 
			href="https://github.com/Lombardimn"
			class="text-c-400 underline decoration-transparent decoration-solid underline-offset-4 transition ease-in-out duration-300 hover:text-accent-regular focus:text-accent-regular dark:hover:text-d-accent-regular"
		>
			GitHub
		</a>
		<a
			target="_blank" 
			rel="noopener noreferrer" 
			href="https://linkedin.com/in/mnlombardi/"
			class="text-c-400 underline decoration-transparent decoration-solid underline-offset-4 transition ease-in-out duration-300 hover:text-accent-regular focus:text-accent-regular dark:hover:text-d-accent-regular"
		>
			LinkedIn
		</a>
		<a
			target="_blank" 
			rel="noopener noreferrer"  
			href="https://www.instagram.com/lombardimn/"
			class="text-c-400 underline decoration-transparent decoration-solid underline-offset-4 transition ease-in-out duration-300 hover:text-accent-regular focus:text-accent-regular dark:hover:text-d-accent-regular"
		>
			Instagram
		</a>
	</p>
</section>