---
import Icon from "./Icon.astro";

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

---
<div class="card hover:animate-background rounded-xl hover:bg-gradient-to-r hover:from-accent-light hover:via-accent-regular hover:to-accent-dark p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
  <div class="bg-c-900 w-full h-full rounded-xl p-2">
    <section class="flex justify-between items-center">
      <h2 class="text-2xlarge text-c-0 pb-2">{title}</h2>
      <button class="card-button" aria-expanded="false">
        <Icon icon="caret-up" size="1.6rem" class='icon-up'/>
        <Icon icon="caret-down" size="1.6rem" class='icon-down hidden'/>
      </button>
    </section>
    <p class="pb-2 italic">{description}</p>
    <section hidden class="card-content text-large">
      <div class="h-[1px] w-5/6 mx-auto my-5 bg-c-500 shadow-bs-sm"></div>
      <slot />
    </section>
  </div>
</div>

<script src="../../scripts/cardExpanded.ts"></script>