---
import Icon from "./Icon.astro";

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

---
<div class="border-2 border-solid border-c-600 p-4 rounded-xl shadow-bs-sm">
  <section class="flex justify-between items-center">
    <h2 class="text-2xlarge text-c-0 pb-2">{title}</h2>
    <button id="card-button" aria-expanded="false">
      <Icon icon="caret-up" size="1.6rem" />
    </button>
  </section>
  <p class="pb-2 italic">{description}</p>
  <section id="card-content" hidden class="text-large">
    <slot />
  </section>
</div>

<script>
  const btn = document.getElementById('card-button')!
  const ctt = document.getElementById('card-content')!
  
  btn.addEventListener('click', () => {
    btn.setAttribute('aria-expanded', ctt.hidden ? 'true' : 'false')
    ctt.hidden = !ctt.hidden
  })

</script>