<div class="flex py-2 px-4 gap-2 text-accent-text-over dark:text-d-accent-text-over border-2 border-solid bg-accent-regular dark:bg-d-accent-regular dark:border-d-accent-overlay rounded-full text-medium leading-snug whitespace-nowrap">
  <slot />
</div>